{% extends "layout.html" %}
{% block content %}
<div class="testbox">
    {% if user%}
    <form action="/update/{{user[2]}}/{{user[1]}}" method="POST">
    {% else %}
    <form action="/save" method="POST">
    {% endif %}
      <div class="banner">
        <h1>Ingresa tus datos</h1>
      </div>
      <div class="colums">
        <div class="item">
          
          <label for="fname"> Last name<span>*</span>  </label>
          <input id="fname" type="text" name="ln" value ="{{ user[1]}}" required pattern="{1,15}"/>
        </div>
        <div class="item">
          <label for="address1">Name<span>*</span></label>
          <input id="address1" type="text"   name="name" value ="{{ user[0]}}" required pattern="{1,15}"/>
        </div>
        <div class="item">
          <label for="address2">Phone number</label>
          <input id="address2" type="text"  value ="{{ user[2]}}" name="phone" />
        </div>
        <div class="item">
          <label for="state">Age<span>*</span></label>
          <input id="state" type="number"  name="age" value ="{{ user[3]}}" required/>
        </div>
        
  
      
      <div class="btn-block">
        <a href="/"><button type="submit" >Aceptar</button></a>
        
      </div>
    </form>
  </div>
  
  
{% endblock %}